<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Todo App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .hidden{
                display: none;
            }

            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                width: 200px;
            }
            li button{
                -webkit-appearance: none;
                padding: 0%;
                margin: 0%;
                border: none;
                color: red;
                float: right;
            }
            .lists-wrapper, .todos-wrapper{
                display:inline-block

            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      
      
        <div id="error" class="hidden">Something went wrong</div>

        <div class="lists-wrapper">
            
            <ul id="todos">
                {% for list in lists %}
        
                <li> 
                    <input class="check-completed" data-id ="{{ list.id }}" type="checkbox" {% if list.completed %} checked {% endif %} /> 
                   <a href="/lists/{{ list.id}}">{{list.id}} - {{list.name}}</a> 
                
                    <button class="delete-button" data-id="{{ list.id }}">&cross;</button>
                </li>
                {% endfor%}
            </ul>
        </div>

        <div class="todos-wrapper">
            <h4>{{active_list.name}}</h4>
            <form id="form">
        
                <!-- <label for="name">Create a To-Do Item</label> -->
                <!-- <input type="text" id="id" name="id"> -->
                <input type="text" id="description" name="description">
                <input type="submit" id="submit" value="Create">
            <!-- </div> -->
            </form>
            <ul id="todos">
                {% for todo in todos %}
             
                <li> 
                    <input class="check-completed" data-id ="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %} /> 
                    {{todo.id}} - {{todo.description}}
                   
                    <button class="delete-button" data-id="{{ todo.id }}">&cross;</button>
                </li>
                {% endfor%}
            </ul>

        </div>
      
        <script>
          const deleteBtns = document.querySelectorAll('.delete-button');
            for (let i = 0; i < deleteBtns.length; i++) {
                const btn = deleteBtns[i];
                btn.onclick = function(e) {
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId, {
                    method: 'DELETE'
                });
                }
            }


            const checkboxes = document.querySelectorAll(".check-completed");
            for (let i=0; i<checkboxes.length; i++)   {
                const checkbox = checkboxes[i]
                checkbox.onchange = function(e){
                    console.log('event', e)
                    const newCompleted = e.target.checked;
                    const todo_id = e.target.dataset['id'];
                    fetch('/todos/' + todo_id + '/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function(){
                        document.getElementById('error').className ='hidden';
                    })
                    .catch(function(){
                    document.getElementById('error').className = '';
                    })
                }
            }

            document.getElementById('form').onsubmit = function(e){
                e.preventDefault();
                fetch('/todos/create', {
                    method : 'POST',
                    headers : {
                        'Content-Type': 'application/json'
                    },
                    body : JSON.stringify({
                        'id': document.getElementById('id').value,
                        'description': document.getElementById('description').value
                    }),
                   
                })
                .then(function(response){
                    return response.json();
                })
                .then(function(jsonResponse){
                    const LiItem = document.createElement('LI');
                    LiItem.innerHTML = jsonResponse['id'];
                    LiItem.innerHTML = jsonResponse['description'];
                    document.getElementById('todos').appendChild(LiItem)
                    document.getElementById('error').className ='hidden';
                })
                .catch(function(){
                    document.getElementById('error').className = '';
                })
            }
        </script>

        <script src="" async defer></script>
    </body>
</html>